{% extends 'base.html' %}

{% block head %}
<title>Add Password</title>
{% endblock %}

{% block body %}
<div class="password-container row">
    <div class="col-md-6">
        <form method="post" action="{{ url_for('addPassword') }}">
            <div id="fields-container">
                <div class="field-container" id="field-website">
                    <h4 class="mt-3">Website</h4>
                    <div class="row mb-4">
                        <div class="col-8">
                            <input type="text" name="website" class="form-control">
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn btn-danger btn-sm" onclick="removeField('website')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="field-container" id="field-username">
                    <h4 class="mt-3">Username</h4>
                    <div class="row mb-4">
                        <div class="col-8">
                            <input type="text" name="username" class="form-control">
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn btn-danger btn-sm" onclick="removeField('username')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="field-container" id="field-password">
                    <h4 class="mt-3">Password</h4>
                    <div class="row mb-4">
                        <div class="col-8">
                            <input type="text" name="password" class="form-control">
                        </div>
                        <div class="col-1">
                            <button type="button" class="btn btn-danger btn-sm" onclick="removeField('password')">
                                <i class="bi bi-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown mb-4">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="addFieldDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    Add Field
                </button>
                <ul class="dropdown-menu" aria-labelledby="addFieldDropdown" id="dropdown-menu">
                    <li><a class="dropdown-item" href="javascript:void(0);" onclick="addField('account_number')">Account Number</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);" onclick="addField('pin')">Pin</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);" onclick="addField('date')">Date</a></li>
                    <li><a class="dropdown-item" href="javascript:void(0);" onclick="addField('other')">Other</a></li>
                </ul>
            </div>

            <div class="row mb-4">
                <div class="col-8">
                    <button type="submit" class="btn btn-primary w-100 mt-3 addPasswordButton">Confirm</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <div class="password-generator">
            <h4 class="mt-3 passwordGeneratortitleFont">Password Generator</h4>
            <form method="POST" action="{{ url_for('addPassword') }}" onsubmit="return validateForm();">
                <label for="keyword">Keyword:</label>
                <input type="text" name="keyword" id="keyword-input" class="form-control short-input" value="{{ keyword }}" required><br>

                <label for="length">Password Length:</label>
                <input type="number" name="length" id="length-input" class="form-control short-input" min="8" max="30" value="{{ length }}" required><br>

                <div class="form-check form-switch mt-2">
                    <input class="form-check-input" type="checkbox" name="numbers" id="numbers" {% if use_numbers %}checked{% endif %}>
                    <label class="form-check-label" for="numbers">Include Numbers</label><br>
                </div>

                <div class="form-check form-switch mt-2">
                    <input class="form-check-input" type="checkbox" name="symbols" id="symbols" {% if use_symbols %}checked{% endif %}>
                    <label class="form-check-label" for="symbols">Include Symbols</label><br>
                </div>

                <!-- New options -->
                <div class="form-check form-switch mt-2">
                    <input class="form-check-input" type="checkbox" name="replace_vowels" id="replace_vowels" {% if replace_vowels %}checked{% endif %}>
                    <label class="form-check-label" for="replace_vowels">Replace Vowels</label><br>
                </div>

                <div class="form-check form-switch mt-2">
                    <input class="form-check-input" type="checkbox" name="replace_most_frequent_vowel" id="replace_most_frequent_vowel" {% if replace_most_frequent_vowel %}checked{% endif %}>
                    <label class="form-check-label" for="replace_most_frequent_vowel">Replace Most Frequent Vowel</label><br>
                </div>

                <div class="form-check form-switch mt-2">
                    <input class="form-check-input" type="checkbox" name="remove_vowels" id="remove_vowels" {% if remove_vowels %}checked{% endif %}>
                    <label class="form-check-label" for="remove_vowels">Remove Vowels</label><br>
                </div>

                <div class="form-check form-switch mt-2">
                    <input class="form-check-input" type="checkbox" name="randomize" id="randomize" {% if randomize %}checked{% endif %}>
                    <label class="form-check-label" for="randomize">Randomize</label><br>
                </div>

                <input type="submit" value="Generate Password" class="btn btn-primary mt-4 generatePasswordbutton">
            </form>
        </div>
    </div>
</div>
{% endblock %}


