{% extends 'base.html' %}

{% block head %}
<title>Password View</title>
{% endblock %}

{% block body %}
<div class="password-container">
    <div class="col-md-5">
        <form method="post" action="{{ url_for('passwordView', name=password_data.name) }}">
            {% if password_data.website %}
            <h4 class="mt-3">Website</h4>
            <div class="row mb-4">
                <div class="col-8">
                    <input type="text" id="website-input" name="website" class="form-control" value="{{ password_data.website }}" required>
                </div>
                <div class="col-4">
                    <button type="button" onclick="copyWebsite()" class="btn btn-secondary clipboardButton">
                        <i class="bi bi-clipboard" id="website-icon"></i>
                    </button>
                </div>
            </div>
            {% endif %}

            {% if password_data.username %}
            <h4 class="mt-3">Username</h4>
            <div class="row mb-4">
                <div class="col-8">
                    <input type="text" id="username-input" name="username" class="form-control" value="{{ password_data.username }}" required>
                </div>
                <div class="col-4">
                    <button type="button" onclick="copyUsername()" class="btn btn-secondary clipboardButton">
                        <i class="bi bi-clipboard" id="username-icon"></i>
                    </button>
                </div>
            </div>
            {% endif %}

            {% if password_data.accountNumber %}
            <h4 class="mt-3">Account Number</h4>
            <div class="row mb-4">
                <div class="col-8">
                    <input type="text" id="account-number-input" name="accountNumber" class="form-control" value="{{ password_data.accountNumber }}">
                </div>
                <div class="col-4">
                    <button type="button" onclick="copyAccountNumber()" class="btn btn-secondary clipboardButton">
                        <i class="bi bi-clipboard" id="account-number-icon"></i>
                    </button>
                </div>
            </div>
            {% endif %}

            {% if password_data.pin %}
            <h4 class="mt-3">PIN</h4>
            <div class="row mb-4">
                <div class="col-8">
                    <input type="text" id="pin-input" name="pin" class="form-control" value="{{ password_data.pin }}">
                </div>
                <div class="col-4">
                    <button type="button" onclick="copyPin()" class="btn btn-secondary clipboardButton">
                        <i class="bi bi-clipboard" id="pin-icon"></i>
                    </button>
                </div>
            </div>
            {% endif %}

            {% if password_data.date %}
            <h4 class="mt-3">Date</h4>
            <div class="row mb-4">
                <div class="col-8">
                    <input type="text" id="date-input" name="date" class="form-control" value="{{ password_data.date }}">
                </div>
                <div class="col-4">
                    <button type="button" onclick="copyDate()" class="btn btn-secondary clipboardButton">
                        <i class="bi bi-clipboard" id="date-icon"></i>
                    </button>
                </div>
            </div>
            {% endif %}

            {% if password_data.password %}
            <h4 class="mt-3">Password</h4>
            <div class="row mb-4">
                <div class="col-8">
                    <input type="text" id="password-input" name="password" class="form-control" value="{{ password_data.password }}" required>
                </div>
                <div class="col-4">
                    <button type="button" onclick="copyPassword()" class="btn btn-secondary clipboardButton">
                        <i class="bi bi-clipboard" id="password-icon"></i>
                    </button>
                </div>
            </div>
            {% endif %}

            {% if password_data.other %}
            <h4 class="mt-3">Other</h4>
            <div class="row mb-4">
                <div class="col-8">
                    <input type="text" id="other-input" name="other" class="form-control" value="{{ password_data.other }}">
                </div>
                <div class="col-4">
                    <button type="button" onclick="copyOther()" class="btn btn-secondary clipboardButton">
                        <i class="bi bi-clipboard" id="other-icon"></i>
                    </button>
                </div>
            </div>
            {% endif %}

            <div class="row mb-4">
                <div class="col-8">
                    <button type="submit" class="btn btn-secondary w-100 mt-3 addPasswordButton">Save Changes</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
